@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Портфолио</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .portfolio {
            text-align: center;
            padding: 50px;
        }

        .portfolio h1 {
            font-size: 36px;
            margin-bottom: 20px;
            color: #333;
        }

        .portfolio-image {
            max-width: 400px;
            margin: 0 auto;
            display: block;
        }

        .portfolio-description {
            font-size: 18px;
            margin-top: 20px;
            color: #666;
        }

        .resume {
            margin: 50px auto;
            max-width: 600px;
            background-color: #fff;
            padding: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .resume h2 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .resume h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: #333;
        }

        .resume p {
            margin-bottom: 10px;
            color: #666;
        }

        .resume ul {
            margin: 10px 0;
            padding-left: 20px;
            color: #666;
        }

        .resume ul li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="resume">
        <h1>Дорошенко Роман Алексеевич</h1>
        <img class="portfolio-image" src="@Url.Content("~/images/image.jpg")" alt="Дорошенко Роман Алексеевич"  height="500">
        <h3>Увлечения</h3>
        <p>Программирование на языках C#, JavaScript и Python - мое увлечение, которое в будущем станет моей профессией. Я люблю создавать эффективные и интуитивно понятные программы, которые улучшают жизнь людей и помогают решать разнообразные задачи. Благодаря моим навыкам и знаниям в этих языках, я могу создавать веб-приложения, игры, мобильные приложения и многое другое. Мое портфолио содержит множество примеров моей работы, которые могут быть полезны как для личного использования, так и для бизнес-целей.</p>
        <h3>Жизненные принципы</h3>
        <ul>
            <li>Непрерывное обучение</li>
            <li>Поиск оптимальных решений</li>
            <li>Сотрудничество</li>
            <li>Логическое мышление</li>
            <li>Личностный рост и обучение</li>
            <li>Обмен опытом</li>
            <li>Внимательность к деталям</li>
            <li>Стремление к автоматизации</li>
            <li>Креативность и инновации</li>
        </ul>
        <h3>Мой тип личности</h3>
        <p>Мой тип личности Делец. Я обладаю организаторскими способностями и предпринимательским мышлением. Мой тип личности энергичный, целеустремленный и умеет принимать решения в сложных ситуациях. Такие личности любят участвовать в проектах и организовывать их, стремятся к достижению успеха и финансовой независимости. Такой личности рекомендуется описать свой опыт в бизнесе и проектной деятельности, а также умение управлять командой и достигать поставленных целей.</p>
    </div>

    <div class="resume">
  <h2>Резюме</h2>

  <h3>Дорошенко Роман Алексеевич</h3>
  <p>Дата рождения: 16 декабря 2004</p>
  <p>Место жительства: Севастополь</p>

  <h3>Образование</h3>
  <p>ГБОУПО "СТЭТ"</p>
  <p>Специальность: Информационные технологии (по отрослям)</p>
  <p>Год окончания: 2024</p>

  <h3>Опыт работы</h3>
  <p>RidChat</p>
  <p>Должность: FullStack Developer</p>
  <p>Период: 2022-2023</p>
  <p>Описание: Занимался разработкой соц.сети для русскоязычных пользователей</p>

  <h3>Навыки</h3>
  <ul>
    <li>Языки программирования: Python, JavaScript, HTML, CSS</li>
    <li>Фреймворки: Django, React</li>
    <li>Базы данных: MySQL, PostgreSQL</li>
  </ul>
</div>
</body>
</html>
